{#
*
* @package dcbase
* @copyright (c) 2019 Direct Connect Network Foundation / www.dcbase.org
* @license https://www.dcbase.org/DCBase/LICENSE GNU General Public License v2
*
#}

{% extends 'templates/adc_base.html.twig' %}

{% import '@template/macros.twig' as util %}

{% set page_subtitle = 'ADC Extensions' %}
{% set git_info = git_info(['markdown/Extensions.md.twig', _self]) %}

{% block content -%}
		<div class="jumbotron">
			<div class="lead">

			{% markdown %}
			## ADC Extensions

			These are the official extensions to ADC. This document is based on the information contained in the ADC wiki and ADC forum - spefications from there are moved here when they are mature and stable enough.
			
			{% endmarkdown %}

			</div>
		</div>

		<div class="row marketing">
			<div class="col-lg-12">
				{{ util.toc() }}

				{% markdownextra 'markdown/Extensions.md.twig' %}

			</div>
		</div>
{% endblock %}
