{#
*
* @package dcbase
* @copyright (c) 2019 Direct Connect Network Foundation / www.dcbase.org
* @license https://www.dcbase.org/DCBase/LICENSE GNU General Public License v2
*
#}

{% extends 'templates/adc_base.html.twig' %}

{% import '@template/macros.twig' as util %}

{% set page_subtitle = 'Advanced Direct Connect' %}

{% set git_info = git_info(_self) %}

{% block content -%}
		<div class="jumbotron">
			<div class="lead">

			{% markdown %}
			## {{ content_owner }}

			Advanced Direct Connect (ADC) is a simple protocol for a client/server-oriented messaging and file sharing system. The ADC Project aims to provide documentation for the ADC community and its developers.

			ADC is the next generation Direct Connect protocol. It aims to provide a well specified protocol that enables globally unique identification of users, encrypted password sending, hashes for communication and file retrieval, full UTF-8 support and identifiable C-C connections.

			ADC is split up into two sections; the base protocol and its extensions. The base protocol specifies and requires login procedures, error code messaging, information notifications and basic file sharing. Extensions to the protocol can be more quickly modified and used, without interfering with the base protocol. Extensions include hash algorithms, regular expressions, user commands and secure (TLS) connections.

			The ADC Project is an affiliate project of the [{{ default_owner }}]({{ make_url('https://dcbase.org') }}). 
			{% endmarkdown %}

			</div>
		</div>

		<div class="pagebreak"> </div>

		<div class="row marketing">

			{# pay special attention to the intedention here in relation to the markdownextra block tags, see main site index.html.twig source for example #}
			{% markdownextra %}
			<div class="col-lg-12" markdown="1">
			#### News

			##### New version of ADC Extensions Released - Version 1.0.8 

			- Improved NATT documentation, as according to the original paper.
			- Added ONID extension to provide online service integration.
			- TIGR now specifies the changes done to the file list.
			- Added error code ADCS transfers are required in STA.
			- Added ASCH extension for extended searching capability.
			- Added Date attribute in file list for files and directories.
			- Added Size attribute in file list for directories.
			- Added Children attribute in file list for directories.
			- Added downloaded progress report for uploaders in GET.
			- Added RDEX for extended redirecting capabilities.

			[View documentation]({{ make_url('/Extensions/') }})

			<br>

			##### New version of ADC base Released - Version 1.0.3


			- Added examples for each command.
			- Features are now described in its own section.
			- Specified token use from server party in client-client connections.
			- Changed size in file list schema to an unsigned long to manage files larger than 2 GiB.
			- Editorial updates


			[View documentation]({{ make_url('/Protocol/') }})

			<br>
			</div>
			{% endmarkdownextra %}

		</div>

{% endblock %}
