{#
*
* @package dcbase
* @copyright (c) 2019 Direct Connect Network Foundation / www.dcbase.org
* @license https://www.dcbase.org/DCBase/LICENSE GNU General Public License v2
*
#}

{% extends 'templates/adc_base.html.twig' %}

{% import '@template/macros.twig' as util %}

{% set page_subtitle = 'ADC Protocol Release Description (PRD)' %}
{% set git_info = git_info(['markdown/PRD.md.twig', _self]) %}

{% block content -%}
		<div class="jumbotron">
			<div class="lead">

			{% markdown %}
			## ADC Protocol Release Description (PRD)
			New versions of ADC are released on a continuous basis. This document
			intend to provide a resource for those who are active in the ADC
			developent process and particularly the release process. This
			document, Protocol Release Description (PRD), describes the necessary
			changes and updates to the ADC network and associated resources once a
			new version of ADC is about to be released and subsequently is
			released.

			This document apply to at least ADC.txt and ADC-EXT.txt but may be
			extended for any other document as well.
			{% endmarkdown %}

			</div>
		</div>

		<div class="row marketing">
			<div class="col-lg-12">
				{{ util.toc() }}

				{% markdownextra 'markdown/PRD.md.twig' %}

			</div>
		</div>
{% endblock %}
