{#
*
* @package dcbase
* @copyright (c) 2019 Direct Connect Network Foundation / www.dcbase.org
* @license https://www.dcbase.org/DCBase/LICENSE GNU General Public License v2
*
#}

{% extends 'templates/adc_base.html.twig' %}

{% import '@template/macros.twig' as util %}

{% set page_subtitle = 'ADC Protocol' %}
{% set git_info = git_info(['markdown/Recommendations.md.twig', _self]) %}

{% block content -%}
		<div class="jumbotron">
			<div class="lead">

			{% markdown %}
			## ADC Protocol

			ADC is a text protocol for a client-server network similar to
			Neo-Modus' Direct Connect (NMDC). The goal is to create a simple
			protocol that doesn&#39;t require much effort neither in hub nor client,
			and is yet extensible. It addresses some of the issues in the NMDC
			protocol, but not all.

			The same protocol structure is used both for client-hub and
			client-client communication. This document is split into two parts;
			the first shows the structure of the protocol, while the second
			implements a specific system using this structure. ADC stands for
			anything you would like it to stand for; Advanced Direct Connect is
			the first neutral thing that springs to mind =).

			Many ideas for the protocol come from Jan Vidar Krey&#39;s DCTNG draft.
			Major contributors include Dustin Brody, Walter Doekes, Timmo Stange,
			Fredrik Ullner, Fredrik Stenberg and others. Jon Hess contributed the
			original Direct Connect idea through the Neo-Modus Direct Connect
			client / hub.
			{% endmarkdown %}

			</div>
		</div>

		<div class="row marketing">
			<div class="col-lg-12">
				{{ util.toc() }}

				{% markdownextra 'markdown/Recommendations.md.twig' %}

			</div>
		</div>
{% endblock %}
