
### Abstract {{ '{#abstract}' }} 

These are the services for the ONID command. See ADC-Ext for the ONID
specification.

### Version history {{ '{#version_history}' }} 

The latest draft of the next version of this document as well as
intermediate and older versions can be downloaded from 

This version corresponds to \$Revision: 1 \$.

#### Version 1.0.0 {{ '{#version_1_0_0}' }} 

Fredrik Ullner &lt;ullner@gmail.com&gt;

-   Initial release

#### Version 1.0.1, UNRELEASED {{ '{#version_1_0_1_unreleased}' }} 

-   Added TrackMania

-   Updated LoL regions

### Services {{ '{#services}' }} 

The service names are all case-insensitive. They are written here as
lower-case.

#### DCBase {{ '{#dcbase}' }} 

Service name: dcbase

Required parameters:

|    |                                             |
| -- | ------------------------------------------- |
| ID | The DCBase forum member numeric identifier. |

#### Facebook {{ '{#facebook}' }} 

Service name: facebook

Required parameters:

|    |                                                                |
| -- | -------------------------------------------------------------- |
| ID | The public Facebook ID (that appears in a profile page's URL). |

Optional parameters:

|    |                                             |
| -- | ------------------------------------------- |
| NI | The friendly name.                          |

#### Google {{ '{#google}' }} 

Service name: google

Required parameters:

|    |                                             |
| -- | ------------------------------------------- |
| EM | The Google e-mail.                          |

#### League of Legends {{ '{#league_of_legends}' }} 

Service name: lol

Required parameters:

|    |                                             |
| -- | ------------------------------------------- |
| SU | The League of Legends summoner name.        |
| SE | The server identifier.                      |

The server identifier may be one of the following:

| Identifier | Description                       |
| ---------- | --------------------------------- |
| br         | Brazil                            |
| eune       | EU Nordic and East                |
| euw        | EU West                           |
| kr         | Korea                             |
| lan        | Latin America North               |
| las        | Latin America South               |
| na         | North America                     |
| oce        | Oceania                           |
| tr         | Turkey                            |
| ru         | Russia                            |

#### Microsoft Live {{ '{#microsoft_live}' }} 

Service name: mslive

Required parameters:

|    |                                             |
| -- | ------------------------------------------- |
| EM | The Microsoft Live e-mail.                  |

#### Playstation Network {{ '{#playstation_network}' }} 

Service name: psn

Required parameters:

|    |                                             |
| -- | ------------------------------------------- |
| ID | The Playstation Network ID        |

#### Twitter {{ '{#twitter}' }} 

Service name: twitter

Required parameters:

|    |                                                                |
| -- | -------------------------------------------------------------- |
| ID | The Twitter profile ID (that appears in a profile page's URL). |

Optional parameters:

|    |                                             |
| -- | ------------------------------------------- |
| NI | The nick name.                              |

#### Yahoo! {{ '{#yahoo}' }} 

Service name: yahoo

Required parameters:

|    |                                             |
| -- | ------------------------------------------- |
| EM | The Yahoo! e-mail.                          |

#### TrackMania {{ '{#trackmania}' }} 

Service name: trackmania

Required parameters:

|    |                                             |
| -- | ------------------------------------------- |
| NI | The TrackMania nick name.                   |
