{#
*
* @package dcbase
* @copyright (c) 2019 Direct Connect Network Foundation / www.dcbase.org
* @license https://www.dcbase.org/DCBase/LICENSE GNU General Public License v2
*
#}

{% extends '@template/bootstrap_base.html.twig' %}

{% set content_owner = 'ADC Project' %}
{% set container_class = 'container wide' %}

{% set git_base_url = false %}

{% block styles -%}
	{{ parent() }}

	<style>
		pre code { white-space: pre; }
	</style>
{% endblock %}
